<!--<ion-header>

  <ion-navbar>
    <ion-title>Find Your Perfect Drone</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding>
  <div class="custom-toolbar">
    <h1 text-center>Find Your <br> Perfect Drone</h1>
  </div>
  <ion-card>
    <ion-card-content>
      Below are drones hand picked by our expert staff that will meet your whatever your needs are. Our staff takes special care in selecting only the best and most reliable models so that you have the best experience possible with your drone!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list *ngFor='let choice of droneChoices; let i = index;' class="wrap">
      <div *ngIf="choice.type === 'item'">
        <button ion-item (click)="openModal({drone: drones[choice.group][choice.object]})">
          <ion-avatar item-left>
            <img src="assets/img/{{ drones[choice.group][choice.object]['image'] }}">
          </ion-avatar>
          <h2>{{ drones[choice.group][choice.object]['name'] }}</h2>
          <p class="item wrap">{{ choice.reasoning }}</p>
        </button>
      </div>
      <div *ngIf="choice.type !== 'item'">
        <button ion-item (click)="itemSelect(choice, i)">
          <ion-icon name="{{choice.icon}}" item-left></ion-icon>
          {{choice.name}}
        </button>
      </div>
    </ion-list>
  </ion-card>
</ion-content>