page-find-your-drone {

    .content {
        background-image:    url('../assets/img/1Cp602q67HnYbKcvGmz_-0Rg0LxKWZqDRsfDiEYk.png');
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
        background-size:     100vw 100%;
    }
    .custom-toolbar h1 {
        font-family: 'Bungee', cursive;
    }
}
